html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --softBlue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --mainBg: hsl(217, 54%, 11%);
  --cardBg: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
  --fontSize: 18px;
  --thin: 300;
  --normal: 400;
  --bold: 600;
  --borderRadius: 20px;
  --heading: 25px;
  --rounded: 50%;
}

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Outfit', sans-serif;
  color: var(--softBlue);
  background-color: var(--mainBg);
  width: 100%;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 30px;
  font-size: var(--fontSize);
}

main {
  width: 80%;
  font-family: 'Outfit', sans-serif;
  margin: 90px 25px;
  padding: 25px;
  background-color: var(--cardBg);
  border-radius: var(--borderRadius);
}

a {
  color: var(--white);
  font-size: var(--fontSize);
  text-decoration: none;
}

.card_image {
  position: relative;
  width: 100%;
}

.card_image img {
  opacity: 1;
  display: block;
  width: 100%;
  height: 275px;
  border-radius: var(--borderRadius);
  transition: 5ms ease;
}

.card_image .middle img {
  width: 60px;
  height: 60px;
  transition: 5ms ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
}

.card_image:hover .bg {
  opacity: 0.3;
}

.card_image:hover {
  cursor: pointer;
  background-color: var(--cyan);
  border-radius: var(--borderRadius);
}

.card_image:hover .middle img {
  opacity: 1;
  cursor: pointer;
}

.heading {
  margin: 30px 0 15px 0;
  font-weight: var(--bold);
  font-size: var(--heading);
}

.heading a {
  text-decoration: none;
}

.heading:hover a {
  color: var(--cyan);
  text-decoration: none;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.info div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--bold);
}

.info div img {
  margin-right: 10px;
}

.eth_color {
  color: var(--cyan);
}

hr {
  border: 1px solid var(--line);
}

.footer {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.footer img {
  width: 40px;
  height: 40px;
  border: 2px solid var(--white);
  border-radius: var(--rounded);
}

.footer p {
  margin-left: 15px;
}

.footer a {
  color: var(--white);
  text-decoration: none;
}

.footer:hover a {
  color: var(--cyan);
}

@media only screen and (min-width: 768px) {
  main {
    width: 40%;
  }
}

@media only screen and (min-width: 992px) {
  main {
    width: 20%;
  }
}
